.marks-detail{
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
}

.marks-input{
 display: flex;
 gap: 25px;
 margin-top: 20px;
}

label p{
  margin-bottom: 0.5rem;
}

.marks-input select,
.marks-input input{
  padding: 10px 15px;
  width: 30vw;
}

.marks-submit{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.marks-submit-btn{
  padding: 15px; 
  width: 100%;
  width: 50%;
}

@media(max-width:768px){
  .marks-input select,
  .marks-input input{
 width: 35vw;
}

  .marks-submit-btn{
    width: 60%;
  }
}

@media(max-width:600px){
  .marks-detail form{
    position: absolute;
  }

  .marks-input{
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
  }
  
  .marks-input select,
  .marks-input input{
    width: 65vw;
  }

  .marks-submit-btn{
    width: 90%;
    padding: 12px 5vw;
  }
}